extends layout

block content
	.container
		.row
			.col-sm-12
				#user
					h1.text-center.login-title Welcome #{user.firstName}. 
					.signup-wall
						.row
							.col-sm-6
								h3 Username: 
							.col-sm-6
								h3 #{user.username}
						.row
							.col-sm-6
								h3 Username: 
							.col-sm-6
								h3 #{user.email}				
						.row
							.col-sm-6
								h3 Email: 
							.col-sm-6
								h3 #{user.firstName}				
						.row
							.col-sm-6
								h3 First Name: 
							.col-sm-6
								h3 #{user.lastName}				
						.row
							.col-sm-6
								h3 Last Name: 
							.col-sm-6
								h3 #{user.username}				
					.signup-wall
						.row
							.col-sm-12
								h2 Create Project
								h2
									a(href="/#{user._id}/create-project") Create Project								
					.signup-wall
						.row
							.col-sm-12
								h2 Project Name: #{project.name}
								h2
									a(href="/#{project._id}/project") Project									
					a(href='/signout', class='text-center new-account') Sign Out