extends layout

block content
  .container
    .row
      .col-sm-12
        #user
          h1.text-center.login-title #{project.name}
          .wall
            .row
              .col-sm-12
                p This is where you upload files               
            .row
              .col-sm-12
                form(action='/#{project._id}/upload', method='post', enctype='multipart/form-data')
                  input(type='file' class='filestyle' name='fileUploaded' )
                  button(class='btn btn-lg btn-primary btn-block submit-btn', type='submit') Upload File
          .wall
            .row
              .col-sm-12
                p Project Dashboard: Analysis Log
                .row
                  each analysis in project.analysisLog
                    .col-xs-4
                      .analysis-card
                        p= analysis.name
                        p= analysis.created
          .wall 
            .row
              .col-sm-12
                p After file is uploaded, will redirect to a page where the file can be analyzed
          .row
            .col-sm-12
              h3
                a(href='/#{user._id}/home') Home
